    <!-- Header -->
    <header class="bg-primary text-white text-center py-5">
        <div class="container">
            <h1>Welcome to CommerceSite</h1>
            <p class="lead">Your one-stop shop for the best products</p>
        </div>
    </header>

    <!-- Products Section -->
    <section class="py-5">
        <div class="container">
                <div class="spinner-border text-primary mb-11" id="loading" style="position: absolute; right: 50%;"></div>
            <div class="row" id="products">
                
                @* <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="https://via.placeholder.com/300" class="card-img-top" alt="Product 3">
                        <div class="card-body">
                            <h5 class="card-title">Product 3</h5>
                            <p class="card-text">$30.00</p>
                            <a href="#" class="btn btn-primary">view details</a>
                        </div>
                    </div>
                </div> *@

                
              
            </div>
            <div id="pagination"></div>
        </div>
    </section>



<script src="js/site.js" type="module"></script>